body {
  background-color: DarkSalmon;
  margin: 0;
  text-align: center;
  font-family: 'Sacramento', cursive;
}

h1{
  font-style:italic;
  font-size: 5.625rem;
  color: #229954;
  margin: 0;
  font-weight: lighter;
}

h2{
  font-family: 'Redressed', cursive;
  color: #229954;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #EA2C94;
}
.bc{
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.top{
  position: absolute;
  right: 300px;
  top: 50px;

}

.middle-container{
  margin: 50px 0;
}
p {
  margin-top: 0;
 font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
 font-size: 32px;

}
ol{
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;

}

a{
    font-family: 'Montserrat', sans-serif;
    margin: 10PX 20PX;
    text-decoration: none;

}

a:hover{
  color:#EAF6F6;
}
.one {
  margin-left: 0;
  position: relative;
  padding-top: 100px;
}

.engineer{
  width: 7%;
}

.Hobbies{
  width: 6%;
}

.call{
  width: 5%;
}

hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  width: 10%;
  margin: 100PX auto;
}

.profile{
  width: 15%;
}

.Hobbie{
  float: left;
}

.bottom-container{
  background-color: MediumSeaGreen;
  padding: 10PX 20PX;

}

.btn {
  background: #b3d0e3;
  background-image: -webkit-linear-gradient(top, #b3d0e3, #2980b9);
  background-image: -moz-linear-gradient(top, #b3d0e3, #2980b9);
  background-image: -ms-linear-gradient(top, #b3d0e3, #2980b9);
  background-image: -o-linear-gradient(top, #b3d0e3, #2980b9);
  background-image: linear-gradient(to bottom, #b3d0e3, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #001e33;
  background-image: -webkit-linear-gradient(top, #001e33, #0093fc);
  background-image: -moz-linear-gradient(top, #001e33, #0093fc);
  background-image: -ms-linear-gradient(top, #001e33, #0093fc);
  background-image: -o-linear-gradient(top, #001e33, #0093fc);
  background-image: linear-gradient(to bottom, #001e33, #0093fc);
  text-decoration: none;
}

H4{
  font-family: 'Montserrat', sans-serif;
}
